/* CSS Document */
body,ul,ol,li,dl,dt,dd,form,p,em,span,select,input,textarea,fieldset,abbr,table,td,h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px;}
body{ font-size:14px; line-height:1.5em; font-family: 'Microsoft Yahei'; background:#fff; color: #fff}
h1,h2,h3,h4,h5,h6{font-weight: normal}
ul,ol,li{ list-style:none;}
select,input,img{ vertical-align:middle; outline:none;}
img{ border:none;}
a,a:hover{ text-decoration:none; outline:none;}
a:focus{    text-decoration: none;}
html{ overflow-x:hidden;}
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.clear{clear: both;}
.fl { float: left; }
.fr { float: right;}


.graybg{padding: 52px 0; background-color: #252525}
.blackbg{padding: 52px 0; background-color: #000000}
.rcbg{padding: 52px 0; background: #000000}



.intro {padding: 23px 0 0 0;background-color: #000}
.intro .content p{font-size: 16px;line-height: 30px;text-align: center;}
.intro .content p:before,
.intro .content p:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 20px 0 0;
  background: url("../images/semi.png") no-repeat;
}
.intro p:after {
  transform: rotate(-180deg);
}
.live {
  padding: 30px 0 0 0;background-color: #000
}
.live .content {
  padding-top: 30px;
}
.live .tabs {
  display: none;
}
.live .item {
  border: 1px solid #00ffae;
  padding: 12px 0px 0;
  margin: 15px auto;
}
.live .item .tab {
  text-align: center;
  cursor: pointer;
}
.live .item .tab h3 {
  font-size: 20px;
  color: #fff;
}
.live .item .tab p {
  font-size: 14px;
  color: #fff;
}
.live .item .entry {
  display: none;
  padding: 24px 15px;
  position: relative;
  max-height: 608px;
  overflow-y: scroll;
  background: linear-gradient(to bottom, rgba(0,161,110,0.3), rgba(0,161,110,0.3)) no-repeat;
  background-size: 1px 100%;
  background-position: 15px 30px;
}
.live .item .entry img{width: 100%}
.live .item .entry::-webkit-scrollbar {
  width: 8px;
  background-color: #00422d;
  border-radius: 5px;
}
.live .item .entry::-webkit-scrollbar-thumb {
  width: 8px;
  height: 6px;
  background-color: #0ab67f;
  border-radius: 5px;
}
.live .item .entry li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 22px;
}
.live .item .entry li:after {
  content: '';
  width: 9px;
  height: 9px;
  display: block;
  background: #00a16e;
  border: 2px solid #003e2a;
  border-radius: 50%;
  position: absolute;
  left: -4px;
  top: 5px;
}
.live .item .entry li span,
.live .item .entry li div {
  font-size: 14px;
  color: #fff;
}
.live .item .entry li div {
  line-height: 24px;
}
.live .item .entry li img {
  margin: 15px auto;width: 100%
}
.live .item.cur {
  display: block;
}
.live .item.cur .entry {
  display: block;
}
.live .item.cur .tab h3,
.live .item.cur .tab p {
  color: #00ffae;
}

/*hudong*/
.hdtips{margin-bottom: 22px; font-size: 14px;}
.hdtext{border:2px solid #00ffae;padding: 20px;font-size: 14px;color: #fff;min-height: 210px;background-color:#252525;width: 100% }
.btn_fb{display: block;margin: 20px auto;width: 160px;}
.plist li{padding: 20px 0;border-bottom: 1px dotted #959595;overflow: hidden;}
.plist li:last-child{border-bottom: none}
.plist li img{border-radius: 50%;border:1px solid #00ffae;float: left;max-width: 70px;}
.plist li .pldeta{width: calc(100% - 90px);margin-left: 20px;}
.plist li .pldeta em{font-style: normal;margin-left: 10px;font-size: 12px;}
.plist li .pldeta span{font-size: 18px;color: #00ffae}
.plist li .pldeta p{margin-top:12px; font-size: 14px;line-height: 24px;}
.pagebox{text-align: center;margin-top: 38px;}


/*richeng-rule*/
.rcbox{margin-bottom: 36px; position: relative;}
.rcbox dt{ color: #00ffae;font-size: 22px;font-weight: bold;}
.rcbox dd{margin-top: 20px; font-size: 20px;color: #fff;}
.rcbox dd span{margin-right: 15px}
.rcbox .rc2{text-align: left;}
.dsRule p{font-size: 18px;}
.dsRule ul{margin-right: -15px;margin-top: 20px;margin-bottom: 10px; overflow: hidden;}
.dsRule li{background: url(../images/rule_l.png) no-repeat 0 0;margin: 0 15px 15px; padding-top:85px;display: table;width: 165px; float: left;}
.ruleT{display: table-cell;vertical-align: middle;line-height: 24px;font-size: 16px;color: #000000;text-align: center;height:69px; }
.dsRule li.rl02{background-position:0 -155px}
.dsRule li.rl03{background-position:0 -310px}
.dsRule li.rl04{background-position:0 -465px}
.dsRule li.rl05{background-position:0 -620px}
.dsRule li.rl06{background-position:0 -775px}
.rulp{text-align: center;margin-top: 23px;line-height: 30px}

/*huaxu*/
.jsHx>div{margin-bottom: 23px}
.jsHx>div p{margin-top:10px;color: #fff;font-size:16px; }
.jsHx>div img{width: 100% }

/*list*/
.zyList>div{margin-bottom: 15px;}
.listit{padding-bottom: 25px;line-height: 30px;  color:#00ffae;font-size: 26px; }
.listit span{padding: 0  16px; color: #fff}
.newsList li {line-height: 29px;}
.newsList li a{font-size: 18px;color: #fff;width: 92%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;}
.newsList li a:hover,.downList a:hover{color: #00ffae;}

.downList li{line-height: 21px;margin-bottom: 15px;position: relative;}
.downList li a{font-size: 18px;color: #fff;display: block;}
.downList  a span{width: 92%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;}
.downList  a em{display: inline-block;vertical-align: top;font-style: normal; position: absolute;right: 0;}

/**/
.ibm_ewm{ position: fixed;top:300px;right: 20px;background-color: #00ffae;padding:3px;z-index: 10}
.ibm_ewm p{font-size: 12px;font-weight: bold;color: #000;text-align: center;line-height: 18px}
.ibm_ewm img{background-color: #000;padding: 7px;}
.ibm_ewm .offb img{position: absolute;top:-10px;right: -10px;padding: 0;background-color: transparent;}


@media(min-width: 768px){
	.zyList>div{margin-bottom: 0 ;}
	.rcbox{text-align: center;}
	.rcbox:after{content: '';position: absolute;left: 50%;background: url(../images/rc_dot.png) no-repeat 0;width: 20px;height: 100%;margin-left: -1%}
	.rcbox .rc1{margin-right: 64px; text-align: right;display: inline-block;}
	.rcbox dd{margin-top: 20px;}
	.rcbox dd span{margin-right: 15px}
	.rcbox .rc2{display: inline-block;text-align: left;}
	.dsRule ul{margin-left: -15px;}

	
}


@media(min-width: 1200px){
	.rcbg{ background: #000000 url("../images/rcbg.jpg") no-repeat center top}
	.csdn-toolbar .container{width: 1170px;}
	.intro {  padding: 46px 0 0 0; }

  .banner {background: url("../images/banner.jpg") center center no-repeat;height: 400px;}
	.banner .container{position: relative;}
	.banner .container img{position: absolute;}
	.banner .container img.t48{top: 120px;left: 250px;-webkit-animation: zoomInLeft 1.5s ease-in-out; animation: zoomInLeft 1s ease-in-out;}
	.banner .container img.t12{top: 92px;right: 252px;-webkit-animation: zoomInRight 1.5s ease-in-out; animation: zoomInRight 2s ease-in-out;}
	.banner .container img.tzb{top: 276px;left: 319px;-webkit-animation: zoomIn 1.5s ease-in-out; animation:  zoomInDown 1.5s ease-in-out;}

  .intro .content {  width: 960px;  margin: 0 auto;  }

  .live { padding: 55px 0 0 0;}
  .live .tabs {  display: block; }
  .live .tabs .tab {
    width: 360px;
    height: 74px;
    text-align: center;
    float: left;
    background: #383838;
    margin-right: 30px;
    padding-top: 15px;
    cursor: pointer;
  }
  .live .tabs .tab:last-child {
    margin-right: 0;
  }
  .live .tabs .tab.cur {
    border: 2px solid #00ffae;
    border-bottom: 0;
    background: #000;
    height: 76px;
    margin-bottom: -2px;
  }
  .live .tabs .tab.cur h3,
  .live .tabs .tab.cur p {
    color: #00ffae;
  }
  .live .tabs .tab h3,
  .live .tabs .tab p {
    font-size: 20px;
    color: #fff;
  }
  .live .tabs .tab p {
    font-size: 14px;
    margin-top: 5px;
  }
  .live .item {
    display: none;
    padding: 12px 28px;
    padding-right: 0;
    margin: 0 auto;
    border: 2px solid #00ffae;
  }
  .live .item .tab {
    display: none;
  }
  .live .duijue .entry{overflow-y:initial }
  .live .item .entry {
    padding: 24px 0;padding-right: 0;
    background: none;
  }
  .live .item .entry>img {
    width: 856px;
    height: 580px;
    display: block;
    margin: 0 auto;
  }
  .live .item .entry ul {
    position: relative;
  }
  .live .item .entry ul:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 70px;
    width: 1px;
    height: 100%;
    background: rgba(0,161,110,0.3);
  }
  .live .item .entry li {
    padding-left: 0;
  }
  .live .item .entry li span,
  .live .item .entry li div {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
  }
  .live .item .entry li span {
    width: 60px;
    float: left;
    margin-right: 60px;
  }
  .live .item .entry li div {
    width: calc(100% - 160px);
    margin-bottom: 30px;
  }
  .live .item .entry li img {
    width: 560px;
    height: 420px;
    display: block;
  }
  .live .item .entry li:after {
    left: 66px;
    top: 7px;
  }
	
}

@media(min-width: 1400px){
	
}